<p>
  {{name}} is going to be rich ensha'Allah! :)
</p>
<p [ngClass]='classes'>
  {{greetUser()}}
</p>
<p>
  {{siteUrl}}
</p>
<input type='text' value='salam' [disabled]='isDisabled' />
<h2 [style.color]='hasError ? "red" : "green"'>Omiddddd</h2>
<h2 [style.color]='highlightColor'>Ramin</h2>
<h2 [ngStyle]='titleStyle'>Raminehaaaaaaa</h2>

<button (click)="eventBinding()">Click me!</button>
<h2>{{onClick}}</h2>

<input #templateReferenceVariable type='text'/>
<button (click)='templateReferenceVariableMethod(templateReferenceVariable.value)'>Go!</button>


