<p>
  {{name}} is going to make it ensha'Allah! :)
</p>
<p [ngClass]='classes'>
  {{greetUser()}}
</p>
<p>
  {{siteUrl}}
</p>
<input type='text' value='salam' [disabled]='isDisabled' />
<h2 [style.color]='hasError ? "red" : "green"'>Omiddddd</h2>
<h2 [style.color]='highlightColor'>Ramin</h2>
<h2 [ngStyle]='titleStyle'>Raminehaaaaaaa</h2>

<button (click)="eventBinding()">Click me!</button>
<h2>{{onClick}}</h2>

<input #templateReferenceVariable type='text'/>
<button (click)='templateReferenceVariableMethod(templateReferenceVariable.value)'>Go!</button>

<br>

<input [(ngModel)]='twoWayBinding' type='text'>
<h2>{{twoWayBinding}}</h2>

<h2 *ngIf='intro2Angular; else elseBlock'>Intro2Angular</h2>

<ng-template #elseBlock>
  <h2>Intro2Angular is Hidden</h2>
</ng-template>

<div *ngIf='intro2Angular; then thenBlock; else elseBlockk'></div>

<ng-template #thenBlock>
  <p>Then Block</p>
</ng-template>

<ng-template #elseBlockk>
  <p>Else Block</p>
</ng-template>

<div [ngSwitch]='color'>
  <div *ngSwitchCase='"red"'>You picked red</div>
  <div *ngSwitchCase='"blue"'>You picked red</div>
  <div *ngSwitchCase='"black"'>You picked red</div>
  <div *ngSwitchDefault>Pck again</div>
</div>
